<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <!-- Tell IIS to pass index.js to iisnode -->
    <handlers>
      <add name="iisnode" path="index.js" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>

        <!-- Serve index.html when root is requested -->
        <rule name="DefaultDocument" stopProcessing="true">
          <match url="^$" />
          <action type="Rewrite" url="index.html" />
        </rule>

        <!-- Do not rewrite actual static files -->
        <rule name="StaticContentRule">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
          <match url=".*" />
          <action type="None" />
        </rule>

        <!-- All other requests get rewritten to Node -->
        <rule name="NodeRouting">
          <match url=".*" />
          <action type="Rewrite" url="index.js" />
        </rule>

      </rules>
    </rewrite>

    <httpErrors existingResponse="PassThrough" />
    <webSocket enabled="false" />

  </system.webServer>
</configuration>
